$primary-colour: color("blue", 60) !default;
$secondary-colour: #FFF !default;

body {
	color: $primary-colour;
}

h2 {
	margin-top: 0;
}

header {
	background-color: $primary-colour;
	color: $secondary-colour;
}
